<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">主页</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">我的博客</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">所有博客</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">关于我</a></li>
</ul>

<ul class="icons">
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://blog.csdn.net/{{site.csdn}}" class="icon fa-csdn" rel="nofollow"><span class="label">CSDN</span></a></li>
  <li><a href="https://trailhead.salesforce.com/{{site.trailhead}}" class="icon fa-trailhead" rel="nofollow"><span class="label">Trailhead</span></a></li>
  <!--<li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>-->
</ul>
